@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap);

html {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: aqua; */
    padding-top: 20px;
}

header {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    color: #d04f4f;
}

.main-content {
    /* background-color: #d04f4f; */
    padding: 30px;
}

@media screen and (max-width: 375px) {
    .main-content {
        padding: 0;
    }
}

.input-control {
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.input-control:focus-within {
    outline: 1px solid #333;
}

.input-control input {
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    padding: 20px;
    outline: 0;
    border: 0;
    color: #474040;
    background-color: #e7e7e7;
}

.input-control label {
    width: 33px;
    height: 33px;
    margin-right: 20px;
}

.input-control label img {
    cursor: pointer;
}

/******************* Recherche **************************/
.hide {
    display: none;
}

.show {
    display: block;
}

.grid {
    display: grid;
}

.visually-hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}

.tags-wrapper {
    display: flex;
    height: 50px;
    background-color: beige;
    margin-top: 20px;
    margin-bottom: 20px;
}

.all-dropdowns-wrapper {
    /* background-color: aqua; */
    display: flex;
    /* height: 100px; */
    position: relative;
}

.dropdown-btn-wrapper {
    min-width: 180px;
    height: 80px;
    cursor: pointer;
    display: block;
    border: none;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
}

#ingredients-btn-wrapper {
    background-color: rgb(0, 34, 255);
}

#appareils-btn-wrapper {
    background-color: green;
}

#ustensiles-btn-wrapper {
    background-color: rgb(255, 72, 0);
}

.tag-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #d04f4f; */
    padding: 20px;
    width: 100%;
    height: 100%;
}

.tag-title-container .tag-span-title {
    color: white;
    font-size: 18px;
    /* background-color: #333; */
}

.tag-title-container img {
    width: 20px;
    height: 20px;
}

form input {
    position: absolute;
    top: 29px;
    left: 20px;
    min-width: 210px;
    font-size: 18px;
    border: none;
    outline: none;
    display: none;
    padding-left: 5px;
}

/* #ingredients-search-input {
    background-color: red;
} */

/* car le #ci-dessus est Prioritaire */
/* form:focus-within input {
    background-color: yellow !important;
} */

#ingredients-list {
    background-color: rgb(0, 102, 255);
    grid-template-columns: 25% 25% 25% 25%;
    padding-left: 20px; 
    padding-right: 20px;
    max-width: 530px;
}

#appareils-list {
    background-color: rgb(35, 160, 35);
    grid-template-columns: 25% 25% 25% 25%;
    padding-left: 20px; 
    padding-right: 20px;
}

#ustensils-list {
    background-color: rgb(225, 119, 81);
    grid-template-columns: 25% 25% 25% 25%; 
}

#ingredients-list li, 
#appareils-list li,
#ustensils-list li {
    list-style-type: none;
    color: white;
}

#ustensils-list button {
    list-style-type: none;
    color: white;
    background-color: rgb(225, 119, 81);
    /* border: none; */
}

/*****************************************/
.recipes-list {
    /* display: flex;
    flex-wrap: wrap;
    list-style-type: none; */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin-top: 20px;
}

/* @media screen and (max-width: 320px) {
    .recipes-list {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }
} */

.recipe-item {
    display: flex;
    flex-direction: column;
    height: 350px;
    /* background-color: aqua; */
    margin-top: 10px;
}

.recipe-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40%;
    background-color: #c7bebe;
}

.recipe-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 60%;
    background-color: #e7e7e7;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recipe-body-top {
    background-color: #d04f4f;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.recipe-name-wrapper {
    background-color: aquamarine;
    font-size: 18px;
    line-height: 1.05em;
    width: 70%;
}

.recipe-time-wrapper {
    display: flex;
}

.recipe-body-bottom {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}

.recipe-ingredients-wrapper {
    background-color: green;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    width: 150px;
}

.recipe-ingredient-li {
    list-style-type: none;
    font-size: 10px;
}

.recipe-description-wrapper {
    background-color: aquamarine;
    width: 160px;
    height: 90px;
    font-size: 12px;
    /* line-height: 1.00; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    padding: 2px;
}
.text-ellipsis--2 {
    line-height: 1.2;
    text-overflow:ellipsis;
    overflow:hidden;
    /* Addition lines for 2 line or multiline ellipsis*/
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal;  
}